.hero{
width: 100%;
min-height: 100vh;
background: url('../../assets/hero1.jpg');
background: linear-gradient(rgba (8,0,58,0.7),rgba (8,0,58,0.7));
background-size: cover;
background-position: center;
color: #fff;
display: flex;
align-items: center;
justify-content: left;
}
.hero-text{
    text-align: center;
    max-width: 60%;
}

.hero-text h1{
    font-size: 60px;
    font-weight: 600;
    color: #8abe53;
    
}

.hero-text p{
    max-width: 60%;
    margin: 30px auto 20px;
    line-height: 1.4;
    text-align: center;

}

/*-------Media query to make the website responsive----*/
@media (max-width: 850px){
    .hero-text h1{
        font-size: 40px;
    }

}
@media (max-width: 650px){
    .hero-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p{
        font-size: 13px;
        margin: 15px auto 30px;
    }

}