.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.about-left{
    flex-basis: 40%;
    position: relative;
}

.about-right{
    flex-basis: 56%;    
}

.about-img{
    width: 100%;
    border-radius: 30px;
}

.play-icon{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-right h3{
    font-weight: 600;
    font-size: 16px;
    color: #8abe53;
}

.about-right h2{
    font-weight: 800;
    font-size: 35px;
    color: #000000;
    margin: 10px 0;
    max-width: 600px;
}

.about-right p{
    color: rgb(36, 36, 36);
    margin-bottom: 15px;

}

/*-------Media query to make the website responsive----*/
@media (max-width: 800px){
    .about{
        flex-direction: column;
    }
    .about-left{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .about-right{
        flex-basis: 100%;
    }
}